!!! XML
!!!
%html
  %head
    %title Test App
    %link{:type => 'text/css', :rel => 'stylesheet', :media => 'screen', :href => '/css/style.css'}
  %body
    #header
      %h1.title Sinatra + Bundler + Haml test app
      %h2.subtitle A bit of something I got up to one day
    #content
      %p Well now er.

